{{ define "home" }}
<section class="slider-section pt-4 pb-4">
    <div class="container">
        <div class="slider-inner">
            <div class="row">
                <div class="col-md-3">
                    <nav class="nav-category">
                        <h2>Categories</h2>
                        <ul class="menu-category">
                            <li><a href="/products">Aksesoris</a></li>
                            <li><a href="/products">Suku Cadang</a></li>
                            <li><a href="/products">Ban</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner shadow-sm rounded">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/public/img/slides/bannermotor_1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/public/img/slides/bannermotor_2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/public/img/slides/bannermotor_3.jpg" alt="Third slide">
                            </div>
                        </div>
                    </div>
                    <!-- End Slider -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->
<section class="products-grids trending pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Trending Items</h2>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="/products/ban-motor">
                            <img src="/public/img/products/ban.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h3><a href="/products/ban-motor">Ban Motor</a></h3>
                        <div class="product-price">
                            <span>IDR 300000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="/products/kaca-spion">
                            <img src="/public/img/products/kaca_spion.png" class="img-fluid" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h3><a href="/products/kaca-spion">Kaca Spion</a></h3>
                        <div class="product-price">
                            <span>IDR 125000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="/products/knalpot-motor">
                            <img src="/public/img/products/knalpot.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h3><a href="/products/knalpot-motor">Knalpot</a></h3>
                        <div class="product-price">
                            <span>IDR 500000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="/products/oli-motor">
                            <img src="/public/img/products/oli.jpg" class="img-fluid" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h3><a href="/products/oli-motor">Oli</a></h3>
                        <div class="product-price">
                            <span>IDR 78000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{{ end }}